<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<staticContent> 
            <mimeMap fileExtension=".webp" mimeType="image/webp" /> 
        </staticContent> 
        <rewrite>
            <rules>
			<rule name="HTTPS force" enabled="true" stopProcessing="true">
<match url="(.*)" />
<conditions>
<add input="{HTTPS}" pattern="^OFF$" />
</conditions>
<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
</rule>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3089/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
